### 프로그래밍이란?

+ programing: 프로그래밍 언어를 사용하여 프로그램을 개발하는 것
    -여기서 사용되는 프로그래밍 언어에는 java, c, python 등이 존재
+ program: 일련의 작업을 자동화 하는 것
    -사람이 모든 일을 수동으로 처리하면 그만큼의 시간과 비용이 소모되기 때문에 컴퓨터를 통해 작업을 자동화함으로써 효율성 극대화
+ python: 프로그래밍 언어 중 하나, 인간이 컴퓨터에게 작업을 명령하기 위해 사용하는 컴퓨터가 이해할 수 있는 언어
    -파이썬을 배우는 이유는 여러가지가 있지만 그 이유는 쉽기 때문...?, 다른 언어들과 달리 직관적(?)

### Ch2. Data: Type, Value, Variables, and Names

 + 변수-variable: 특정한 값을 저장하는 공간
-Ex)a=2에서 a와 같은 것이 변수
 + 값-value: 값은 그냥 값
 + 자료형- type: 데이터의 형태에 대한 정보
-Ex) a,1,0.5, a==2 등으로 자료형이 분류됨
 + 할당하다-assign: 숫자 2를 'a'라는 문자에 넣는 과정
-Ex) a=2
-cf) 그렇다면 수학에서 처럼 a가 2와 같다는 어떻게 표현할까?-->a==2라고 표현

### 변수의 타입
+ 파이썬의 변수 타입에는 여러가지가 존재
+ 그러나 그 중에서 자주 사용되는 것들은 크게 4가지 정도

+ boolean형-bool: True와 False로 구분되는 변수들을 이야기함
Ex) a==2, a!=2 등과 같이 참과 거짓으로 분류되는 문장들
+ integer형-int: 정수형
Ex) 47, 27500, 202102995 등과 같이 소수점이 없는 숫자
+ floating point number-float: 부동소수점
Ex) 3.14, 0.5, 2.3, 16.7과 같이 소수점이 존재하는 숫자들
+ string-str: 텍스트 문자열
Ex) 'attack','wood','hello_world'과 같은 문자로 이루어진 문장

In [1]:
a=2
a==2

True

In [2]:
type(a==2)

bool

In [3]:
b=3
b==2

False

In [4]:
type(b==2)

bool

In [6]:
num=4
4
type(num)

int

In [7]:
num2=1.0
1.0
type(num2)

float

In [8]:
print(num+num2)
type(num+num2)

5.0

float

In [12]:
#요류가 발생함-문자열을 대입할 때에는 반드시 ''," "에 주의
name='chun si young'
print(name)
type(name)

chun si young

str

In [13]:
Bestfriend='middle school friend'
print(Bestfriend)
type(Bestfriend)

middle school friend

str

###### signle quote 안에 single quote를 문자로 인식하도록 하는 방법

1. \를 사용하는 방식
    print('I\'m sam.')
2. " "를 사용하는 방식
    print("I'm sam.")

- 2번 방법이 직관적이고 기억해서 사용하기 좋을 것

In [14]:
print('I\'m sam.')
print("I'm sam.")

I'm sam.
I'm sam.

### 변수명 정하기
- 변수명을 정하는 것은 a=3과 같이 단순하고 자신만이 알아볼 수 있도록 작성하는 것이 아니라 다른 사람들이 쉽게 알아보고 이해할 수 있도록 정하는 것이 중요
- 그렇기 때문에 변수명을 정하는데에 신중해야함
- 간결함과 명확성의 균형을 유지하도록 해야함

+ 소문자, 대문자, 숫자, 언더바(_)를 사용
- 예:'name', 'my_name', 'MYNAME', 'MY_NAME'(대문자는 특별한 용도가 따로 존재-주의해서 사용)

- 변수명으로 사용할 수 없는 케이스
1. 숫자로 시작할 수 없다(문자 중간이나 끝에는 사용 가능)
2. '-'(빼기 기호)는 사용할 수 없다
3. 예약어는 변수명으로 사용할 수 없다.

In [16]:
3boys='Tom, Jack, Micheal' #숫자로 시작해서 에러가 발생함

SyntaxError: invalid syntax (Temp/ipykernel_108376/1188429761.py, line 1)

In [17]:
My-friend='홍길동' #(-)부호가 들어갔기 때문에 에러가 발생

SyntaxError: cannot assign to operator (Temp/ipykernel_108376/774688237.py, line 1)

In [22]:
print(keyword.kwlist)

['False', 'None', 'True', '__peg_parser__', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

주의할 점(특별한 용도가 있어서 일반적으로 상용하지 않는 변수명 타입)
1. 언더바로 시작하는 변수명
- Ex) _name, _hufs, _python
2. 언더바가 2개 있는 변수명
- Ex) _name_, _hufs_, -python_
3. 대문자로 시작하는 변수명
- Ex) Car, Name, Hufs, Python
4. 전체가 대문자인 변수명
- Ex) CAR, NAME, HUFS, PYTHON

#### number != Number

In [23]:
word1='number'
word2='Number'
word1==word2

False

In [24]:
word1!=word2

True

In [25]:
verse1='hello_world'
verse2='Hello_World'

In [26]:
verse1==verse2

False

In [27]:
verse1 != verse2

True

### 할당하기
- 수학에서는 =가 양변이 같음을 의미
- 프로그램에서는 =가 할당을 의미
- Ex) simon이라는 값을 name에 넣는 것
- name='simon'
- 오른쪽에 있는 모든 것은 값을 가져야하 한다.('초기화')
- 파이썬에서는 다른 프로그래밍 언어와 달리 변수의 타입을 지정하지 않아도 자동으로 지정된다.

In [30]:
name='Samsung'
print(name)
name=='Samsung'

Samsung

True

In [31]:
name=='samsung'

False

In [32]:
name=='apple'
print(name)

Samsung

In [33]:
#앞에서 한 번 지정한 변수에 새로운 값을 할당하면 그 전의 할당된 값은 사라지고 새로 할당된 값만 남음
name='apple'
print(name)

apple

In [35]:
type(name) #변수의 타입을 따로 지정하지 않아도 자동으로 저장됨

str

In [37]:
birthday=20000517
print(birthday)
type(birthday)

20000517

int

In [38]:
birthday='20000517'
print(birthday)
type(birthday)

20000517

str

In [39]:
x=5
y=x+12
y

17

In [40]:
x=54812564
y=x*2
y

109625128

### Ch2. 연습문제

+ 정수 99를 변수 prince에 할당하고 출력

In [49]:
prince=99
print(prince)
type(prince)

99

int

+ 값 5의 타입은?

In [50]:
type(5)

int

+ 값 2.0의 타입은?

In [51]:
type(2.0)

float

+ 표현식 5+2.0의 타입은?

In [53]:
type(5+2.0) #소수와 정수를 합하면 값의 타입은 소수이다.

float